aiohttp==3.12.15
aiosocksy==0.1.2
aiosqlite==0.21.0
aiotg==2.0.0
argh==0.31.2
attrs==25.3.0
chardet==5.2.0
idna==3.10
idna-ssl==1.1.0
Logbook==1.8.2
multidict==6.6.4
pathtools3==0.2.1
PyYAML==6.0.2
typing-extensions==4.15.0
watchdog==6.0.0
yarl==1.20.1
